#Version django
Django>=4.0.4 

#django-colorfield
django-colorfield>=0.7.2

#Django Bootstrap 
django-bootstrap-v5>=1.0.11

#Django extension
django-extensions>=3.2.0

#mysqlclient
mysqlclient>=2.1.1

#python-decouple
python-decouple>=3.6

#django-crispy-forms
django-crispy-forms>=1.14.0

#crispy-bootstrap5
crispy-bootstrap5>=0.6

#sweetify
sweetify>=  2.3.1

#pytz
pytz>=2022.2.1