{% extends 'sala/base.html' %}
{% load bootstrap5 %}

{% load crispy_forms_tags %}
{{form.mobile|as_crispy_field}}

{% load static %}
{% block content %}

{% block extra_datetime %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock extra_datetime %}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="reserva" method="POST" style="background-color: white; padding:20px">
                    {% csrf_token %} 
                    
                    <div class="form-group input-group input-daterange">
                        {{ form.tiempo_inicio|as_crispy_field }}
                        <div class="input-group-addon">desde</div>

                        {{ form.tiempo_fin|as_crispy_field }}

                    </div>
                    <div class="form-group">
                        {{ form.titulo|as_crispy_field }}
            
                    </div>
                  
                    <div class="form-group">
                        {{ form.descripcion|as_crispy_field }}
            
                    </div>
            
                    <div class="form-group">
                        {{ form.sala_id|as_crispy_field }}
            
                    </div>

                    <div class="form-group">
                        {{ form.invitados|as_crispy_field }}
            
                    </div>
                    <button type="submit" class="btn btn-primary">Reservar</button>
            
                
                    
                </form>

            </div>
            <div class="col-md-3"></div>

        </div>
    </div>

    


    {% block extra_js %}
    <script>
        jQuery.datetimepicker.setLocale('es');

        jQuery('#id_tiempo_inicio').datetimepicker({

            format:'d/m/Y H:i:s',
            inline:false,
            lang:'es'


        });
        jQuery('#id_tiempo_fin').datetimepicker({

            format:'d/m/Y H:i:s',
            inline:false,
            lang:'es'
        });

      </script>
    {% endblock extra_js %}





{% endblock content %}
