{% extends 'sala/base.html' %}
{% load bootstrap5 %}

{% load static %}
{% block content %}

<table class="table table-striped">
    <thead class="border-bottom font-weight-bold">
        <tr>
          <td>id</td>
          <td>Inicio</td>
          <td>Fin</td>
          <td>Usuario</td>
          <td>Sala</td>    
        </tr>
        
    </thead>
    <tbody>
        {% for r in listar_reservas  %}
            <tr>

              <td>{{r.id}}</td>
  
                <td>{{r.tiempo_inicio}}</td>
                <td>{{r.tiempo_fin}}</td>
                {% for u in users  %}
                {% if r.username_id == u.id%}


                <td>{{u.username}}</td>
                {% endif%}

                {% endfor %}


                {% for s in salas  %}

                {% if r.sala_id_id == s.id%}

                <td>{{s.nombre}}</td>
                {% endif%}
                {% endfor %}

                  <td style="text-align: center ;">
                    <a href="{% url 'reserva_update' r.id %}" class="btn text-secondary px-0">
                      <img src="{% static 'icons/edit.svg' %}" alt="">

                    </a>
              
                    <form action="{% url 'delete_reserva' r.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">


                          <img src="{% static 'icons/trash-2.svg' %}" alt="">
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock content %}
