            {% extends 'registration/base-login.html' %}
            {% load bootstrap5 %}

            {% load crispy_forms_tags %}
            {{form.mobile|as_crispy_field}}
            {% block content %}


    {% if 'register' in request.GET %}
        <div class="alert alert-success border-0 small rounded-12 mb-4">
            Usuario registrado correctamente.
        </div>
    {% endif%}
    <form action="" method="POST" autocomplete="off">
        {% csrf_token %} 
        
        <div class="form-group mb-3">
            {{ form.username|as_crispy_field }}
        </div>
        
        <div class="form-group mb-4">
            {{ form.password|as_crispy_field }}
        </div>
        
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="form-check small">
                <input type="checkbox" class="form-check-input" id="customCheck">
                <label class="form-check-label text-muted" for="customCheck">Recordarme</label>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary w-100 mb-3 shadow-sm">Iniciar Sesión</button>
    </form>










                {% endblock %}