{% extends 'registration/base.html' %}
{% load bootstrap5 %}

{% load crispy_forms_tags %}
{{form.mobile|as_crispy_field}}{% block title %}Iniciar sesión{% endblock %}
{% block content %}


                {% csrf_token %} 
                


                <form class="user">
                  <div class="form-group">
                    {{ form.username|as_crispy_field }}

                  </div>
                  <div class="form-group">
                    {{ form.password|as_crispy_field }}

                  </div>
                  <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                          <input type="checkbox" class="custom-control-input" id="customCheck">
                          <label class="custom-control-label" for="customCheck">Remember
                              Me</label>
                      </div>
                  </div>
                  <a href="index.html" class="btn btn-primary btn-user btn-block">
                      Login
                  </a>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
              </form>






{% endblock %}